.carouselContainer {
    @include flex (inherit, center, center, inherit);
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
 

    .carousel {
        width: 85%;
        border: 5px solid #75151e;
        border-radius: 8px;
    }
}