.quienesSomos {
    @include flex (column, inherit, inherit, inherit);
    padding: 10px;
    margin-top: 5rem;

    h2 {
        font-family: $fontsecundaria;
        font-weight: 700;
        @extend %font;
        color: $rojoSeleccionado;
    }


    p {
        @include flex (inherit, inherit, inherit, wrap);
        font-family: $fontsecundaria;
    }
}